h1 .otsikko {
    font-family: "Overlock SC", serif;
}

p {
    font-family: "Overlock", serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #313e23;
}

.hero-img {
    background-image: url("kuvat/Herokuva.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-img-2 {
    background-image: url("kuvat/Herokuva.jpg");
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.navbox {
    font-family: "Overlock SC", serif;
    background: #313e23;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.8;
    height: 140px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 10%;
    color: white;
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;

}

.navbox a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding-top: 70px;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.navbox a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.logotausta {
    background-image: url(kuvat/logonTausta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 435px;
    height: 417px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.logo {
    background-image: url(kuvat/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 453px;
    height: 425px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    top: calc(50% - 12px);
    left: calc(50% - 1.5px);
}

.logotausta-2 {
    background-image: url(kuvat/logonTausta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 385px;
    height: 367px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 2;
    max-width: 20%;
}

.logo-2 {
    background-image: url(kuvat/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 403px;
    height: 375px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index: 3;
    max-width: 20%;
}

.tausta {
    margin-top: 100px;
    box-sizing: border-box;
    background: #40492d;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: auto;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    position: relative;

}


footer {
    background-color: #40492d !important;
    text-align: center;
    padding: 20px;
    position: relative;
    color: white;

}


.line {
    box-sizing: border-box;
    margin: 0 auto;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    max-width: 800px;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0.047deg) scale(1, 1);
    width: 90%;
}