.product-card {
    position: relative;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    font-family: 'Overlock SC', sans-serif;
}
.product-overlay {
    position: absolute;
    top: 15px;  
    left: 15px;
    right: 15px;
    bottom: 104px;
    background: rgba(49, 62, 35, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 20px;
    pointer-events: none;
    gap: 10px; 
}

.product-card:hover .product-overlay {
    opacity: 1;
    pointer-events: auto;
}

.info-btn {
    background-color: transparent;
    border: 2px solid #DDA15E;
}

.info-btn:hover {
    background-color: rgba(221, 161, 94, 0.2);
}

.add-to-cart-btn {
    background-color: #DDA15E; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Overlock SC', serif;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #bc8544;
}

.product-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transition: opacity 0.3s ease;
    border: 1px solid #DDA15E;
}

.product-img:hover {
    opacity: 0.9;
}

.product-card h4 {
    margin-top: 15px;
    font-size: 19px;
    font-family: 'Overlock SC', sans-serif;
}

.product-card p {
    color: #c0c0c0;
    font-size: 17px;
    margin-bottom: 0;
    font-family: 'Overlock', sans-serif;
}

@media (max-width: 1150px) {
    .add-to-cart-btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media (max-width: 990px) {
    .add-to-cart-btn {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .product-overlay {
        flex-direction: column;
        gap: 5px;
    }
    
}