body {
    background-color: #313e23;
    font-family: "Overlock", serif;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.container-main {
    margin-top: 100px;
    background-color: #40492d;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    max-width: 90%;
    text-align: center;
}

h1 {
    font-family: "Overlock SC", serif;
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

h2{
    font-family: "Overlock SC", serif;
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff
}
h4{
    font-family: "Overlock SC", serif;
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

p {
    color: #fff;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 700px;
}

header .navbar{
    display: flex;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    background-color: #313e23;
    width: 90%;
    opacity: 0.8;
    margin-right: 5%;
    margin-left: 5%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 20px;

}

.navbar-nav a {
    font-family: "Overlock", serif;
    color: white;
    font-size: 26px;
    text-transform: capitalize;
}

.navbar-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 50px;
    gap: 20px;
}

.navbar-brand img {
    margin-left: 30px;
    height: 80px;
    width: auto;
    transition: transform 0.3s ease;
}

.navbar-nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
}

.navbar-brand img:hover  {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.navbar-logos a:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;
}

.header-image {
    background-image: url("kuvat/img-herokuva-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.footer {
    background-color: #40492d;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
}

.footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
}

.footer img {
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.footer img:hover {
    transform: scale(1.1);
}

.line {
    margin: 10px auto;
    border: 0;
    border-top: 1px solid white;
    max-width: 1400px;
}

@media (max-width: 768px) {

    header .navbar {
        background-color: transparent;
        font-family: "Overlock SC", serif;
        color: white;
        padding: 0;
        margin-left: 2%;
        margin-right: 2%;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .navbar-nav {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
    }

    .navbar-nav a {
        font-size: 14px;
    }

    .navbar-logos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navbar-logos img {
        height: 20px;
        width: auto;
        margin-left: 10px;
        margin-right: 0;
        gap: 10px;
    }

    .navbar-brand img {
        display: none;
        margin-left: 0;
        height: 0;
        width: auto;
    }

    .footer, .row {
        flex-direction: column;
        text-align: center;
    }
}
